
.idea/.idea.Livesplit.CS3.dir/.idea/contentModel.xml
.idea/.idea.Livesplit.CS3.dir/.idea/encodings.xml
.idea/.idea.Livesplit.CS3.dir/.idea/indexLayout.xml
.idea/.idea.Livesplit.CS3.dir/.idea/misc.xml
.idea/.idea.Livesplit.CS3.dir/.idea/modules.xml
.idea/.idea.Livesplit.CS3.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.Livesplit.CS3.dir/.idea/workspace.xml
.idea/.idea.Livesplit.CS3.dir/riderModule.iml
.idea/.idea.Livesplit.CS3/.idea/contentModel.xml
.idea/.idea.Livesplit.CS3/.idea/encodings.xml
.idea/.idea.Livesplit.CS3/.idea/indexLayout.xml
.idea/.idea.Livesplit.CS3/.idea/misc.xml
.idea/.idea.Livesplit.CS3/.idea/modules.xml
.idea/.idea.Livesplit.CS3/.idea/projectSettingsUpdater.xml
.idea/.idea.Livesplit.CS3/.idea/vcs.xml
.idea/.idea.Livesplit.CS3/.idea/workspace.xml
.idea/.idea.Livesplit.CS3/riderModule.iml
*.json
*.targets
*.props
*.cache
Livesplit.CS3.sln.DotSettings.user
Livesplit.CS3/bin/Debug/net48/Codaxy.Xlio.dll
Livesplit.CS3/bin/Debug/net48/Codaxy.Xlio.XmlSerializers.dll
Livesplit.CS3/bin/Debug/net48/CustomFontDialog.dll
Livesplit.CS3/bin/Debug/net48/ICSharpCode.SharpZipLib.dll
Livesplit.CS3/bin/Debug/net48/IrcDotNet.Common.dll
Livesplit.CS3/bin/Debug/net48/IrcDotNet.dll
Livesplit.CS3/bin/Debug/net48/LinqToTwitter.dll
Livesplit.CS3/bin/Debug/net48/LiveSplit.Core.dll
Livesplit.CS3/bin/Debug/net48/LiveSplit.Core.dll.config
Livesplit.CS3/bin/Debug/net48/Livesplit.CS3.dll
Livesplit.CS3/bin/Debug/net48/Livesplit.CS3.pdb
Livesplit.CS3/bin/Debug/net48/SharpDX.DirectInput.dll
Livesplit.CS3/bin/Debug/net48/SharpDX.dll
Livesplit.CS3/bin/Debug/net48/SpeedrunComSharp.dll
Livesplit.CS3/bin/Debug/net48/System.Drawing.dll
Livesplit.CS3/bin/Debug/net48/System.Windows.Forms.dll
Livesplit.CS3/bin/Debug/net48/UpdateManager.dll
Livesplit.CS3/bin/Debug/net48/WinFormsColor.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/Codaxy.Xlio.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/Codaxy.Xlio.XmlSerializers.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/CustomFontDialog.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/ICSharpCode.SharpZipLib.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/IrcDotNet.Common.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/IrcDotNet.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/LinqToTwitter.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/LiveSplit.Core.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/LiveSplit.Core.dll.config
Livesplit.CS3/bin/Debug/netcoreapp3.0/Livesplit.CS3.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/Livesplit.CS3.pdb
Livesplit.CS3/bin/Debug/netcoreapp3.0/SharpDX.DirectInput.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/SharpDX.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/SpeedrunComSharp.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/UpdateManager.dll
Livesplit.CS3/bin/Debug/netcoreapp3.0/WinFormsColor.dll
Livesplit.CS3.sln.DotSettings.user
Livesplit.CS3/obj/Debug/net48/Livesplit.CS3.csproj.CopyComplete
Livesplit.CS3/obj/Debug/net48/Livesplit.CS3.csproj.FileListAbsolute.txt
Livesplit.CS3/obj/Debug/net48/Livesplit.CS3.dll
Livesplit.CS3/obj/Debug/net48/Livesplit.CS3.pdb
Livesplit.CS3/obj/Debug/net48/Livesplit.CS3.Settings.resources
Livesplit.CS3/obj/Debug/netcoreapp3.0/Livesplit.CS3.AssemblyInfo.cs
Livesplit.CS3/obj/Debug/netcoreapp3.0/Livesplit.CS3.csproj.CopyComplete
Livesplit.CS3/obj/Debug/netcoreapp3.0/Livesplit.CS3.csproj.FileListAbsolute.txt
Livesplit.CS3/obj/Debug/netcoreapp3.0/Livesplit.CS3.dll
Livesplit.CS3/obj/Debug/netcoreapp3.0/Livesplit.CS3.pdb
Livesplit.CS3/obj/Debug/netcoreapp3.0/MemoryReader.AssemblyInfo.cs
Livesplit.CS3/obj/Debug/netcoreapp3.0/MemoryReades.AssemblyInfo.cs
Livesplit.CS3.sln.DotSettings.user
*.user
